/**
* Autor: EAMM
* Fecha inicio: 27/02/2021 3:00 p.m
* Fecha  Final: 27/02/2021 6:00 p.m
* Descripcion:

	MARGIN:
	establece el margen para los cuatro lados.Es una abreviación para evitar tener que establecer cada lado por separado con las otras propiedades de margen:
	margin-top
	margin-right
	margin-bottom
	margin-left


	Existe diferentes formas de ocupar el margen
	1.- margin: arriba,derecha, abajo, izquierda;
	2.- margin: 10px; Indica 10 pixeles al rededor del elemento
	3.- margin-top: 10 px; en la parte de arriba

 	---Aplica a todos los cuatro lados
		margin: 1em;

	----Vertical | Horizontal ---
		margin: 5% auto;

	----Arriba | Horizontal | Abajo ---
		margin: 1em auto 2em;

	----Arriba | Derecha | Abajo | Izquierda ---
		margin: 2px 1em 0 auto;
**/
body {
	margin: 0;
	padding: 0;
}
.container {
	position: relative;
	border: 2px solid #3d36f2;
	height: 300px;
	width: 500px;
	top: 30%;
	left: 30%;
}

.img-cat {
	position: relative;
	margin: 10px;
	border-radius: 10px;
}
.tit-principal {
	/* margin auto valores */
	width: 20%;
	margin: auto;
}

/* imagen responsive */
.responsive {
	height: auto;
	max-width: 100%;
}
